# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Node modules / Next.js build (solo si alguna vez se mezclan)
node_modules/
.next/
out/

# Environment files
.env
.env.*
!.env.example

# Sentry Build Plugin Token
.env.sentry-build-plugin

# macOS system files
.DS_Store
**/.DS_Store

# Python virtual environments
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build artifacts
*.egg-info/
dist/
build/
