# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Node modules / Next.js build
node_modules/
.next/
out/

# Environment files
.env
.env.*
!.env.example

# Sentry Build Plugin Token
.env.sentry-build-plugin

# macOS system files
.DS_Store
**/.DS_Store
